
@model IEnumerable<Sklep.Models.ViewModel.CategoryView>
@{
    ViewBag.Title = "kate";
}

<ul class="list-unstyled productsFromCategory_listCategory_list">
<li class="productsFromCategory_listCategory_list_title">
    Kategorie
</li>
@foreach (var item in Model)
{
    <li class="">
        <a href='@Url.Action("Szukaj", "Produkt", new { categoryID = @item.CategoryID,  productName = ViewBag.productName , minV = ViewBag.min, maxV = ViewBag.max, sortV = ViewBag.sortV   })' class="productsFromCategory_listCategory_list_link">
            @item.Name
        </a>
        <!--

          <ul class="list-unstyled productsFromCategory_listCategory_list_subcategory">
                        <li class="">
                            <a href="#" class="productsFromCategory_listCategory_list_link">
                                Laptopy
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="productsFromCategory_listCategory_list_link">
                                Karty graficzne
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="productsFromCategory_listCategory_list_link">
                                Procesory
                            </a>
                        </li>
                    </ul>
            -->
    </li>

}
    </ul>