@model Sklep.Models.ViewModel.PayUForm
    
    <button type="submit" formtarget="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect myProfile_detailsOrder_footer_button myProfile_detailsOrder_footer_button--payU">
     Płacę
    
    </button>
 